<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Video Downloader</title>
</head>
<body>
    <h1>Video Downloader</h1>
    <form action="/download" method="post">
        <label for="video_url">Video URL:</label>
        <input type="text" id="video_url" name="video_url" required>
        <br>
        <label for="start_time">Start Timestamp (optional):</label>
        <input type="text" id="start_time" name="start_time" placeholder="00:00:00">
        <br>
        <label for="end_time">End Timestamp (optional):</label>
        <input type="text" id="end_time" name="end_time" placeholder="00:01:00">
        <br>
        <input type="submit" value="Download">
    </form>
</body>
</html>
